
%div{:class => 'row'}

  %div{:class => 'span6'}
    %h2= "Hallo #{@user.name}!"
    %p{:class => 'lead'} Schön, daß Du da bist.
    %a{:class => 'btn', :href => '#{path_to :logout}' }
      %i{:class => 'icon-off'}
      Abmelden

  %div{:class => 'span6'}
    %h2 Dateien hochladen
    %p
      Klicke auf den Button oder ziehe Dateien dorthin um sie hochzuladen.

    %div{:id => 'file-uploader'}
      %noscript
        Bitte aktiviere Javascript


:javascript
  $(function(){

      var uploader = new qq.FileUploader({
        // pass the dom node (ex. $(selector)[0] for jQuery users)
        element: $('#file-uploader')[0],
        // path to server-side upload script
        action: '/media',
        debug: true,
        params: {
          authenticity_token: "#{form_authenticity_token.to_s}"
        },
        onComplete: function(id, fileName, responseJSON){
          alert(responseJSON.toString());
        },
        template: '<div class="qq-uploader">' + 
                '<div class="qq-upload-drop-area"><span>Ziehe Dateien hierher um sie hochzuladen</span></div>' +
                '<div class="qq-upload-button btn btn-primary">Dateien hochladen</div>' +
                '<ul class="qq-upload-list"></ul>' + 
             '</div>',

        // template for one item in file list
        fileTemplate: '<li>' +
                '<span class="qq-upload-file"></span>' +
                '<span class="qq-upload-spinner"></span>' +
                '<span class="qq-upload-size"></span>' +
                '<a class="qq-upload-cancel" href="#">Cancel</a>' +
                '<span class="qq-upload-failed-text">Failed</span>' +
            '</li>',        

      });
  });

