%h1 Benutzer

%table{:class => 'table'}
  %tr
    %th Name
    %th

  - @users.each do |user|
    %tr
      %td= user.name
      %td
        = link_to 'Bearbeiten', [:edit, :admin, user], :class => 'btn btn-mini'
        = link_to 'Löschen', [:admin, user], :confirm => 'Bist Du sicher?', :method => :delete, :class => 'btn btn-mini'

%br

%div{:class => "btn primary"}= link_to 'Neuer Benutzer', new_admin_user_path
